.lowerPage{
    height:auto;
    width: 100%;
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding: 1rem;
    /* border:1px solid black; */
    margin-bottom: 2rem;
}

h2{
    font-weight: 500;
    font-size: 32px;
    color: #5C6874;

}

input{
    padding: 0.8rem;
    border:none;
    border-top-left-radius: 0.5rem;
    border-bottom-left-radius: 0.5rem;
    width:348px
}

button{
    padding: 0.8rem;
    border:none;
    background-color: #1B88F4;
    color: white;
    border-top-right-radius: 0.5rem;
    border-bottom-right-radius: 0.5rem;
}
@media (max-width: 600px) {
    .lowerPage {
        flex-direction: column;
        align-items: stretch; 
        padding: 0.5rem;
    }

    input, button {
        width: 100%; 
        max-width: none; 
        margin-bottom: 0.5rem;
    }
}